* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primarycolor: rgb(255, 92, 92);
}

body {
    height: 100vh;
    width: 100vw;
    font-family: cursive;
}

ul {
    background-color: var(--primarycolor);
    height: 100%;
    width: 100%;
    max-height: 8vh;
}

ul li {
    height: 100%;
    width: 100%;
    font-size: 2.8rem;
    font-family: monospace;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

#heading {
    text-align: center;
    /* margin-bottom: 10vh; */
    height: 100%;
    width: 100%;
    max-height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 3.5rem;
    font-family: monospace;
}

main {
    margin-top: 8vh;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.container div {
    height: 100%;
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    font-size: 3rem;
    font-family: cursive;

}

.container div:hover {
    background-color:  rgb(255, 190, 190);
}

#_0 {
    border-top: 0;
    border-left: 0;
}

#_1 {
    border-top: 0;
}

#_2 {
    border-top: 0;
    border-right: 0;
}

#_3 {
    border-left: 0;
}

#_5 {
    border-right: 0;
}

#_6 {
    border-left: 0;
    border-bottom: 0;
}

#_7 {
    border-bottom: 0;
}

#_8 {
    border-right: 0;
    border-bottom: 0;
}


#gameOver {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 50%);
    margin: 0px;
    padding: 0;
}

.popup-container {
    /* height: 100%; */
    width: 100%;
    /* max-height: 45vh; */
    max-width: 50vw;
    background-color: rgb(255, 255, 255);
    filter: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 10px red;
}

.pop-bar {
    background-color: var(--primarycolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    padding: 10px 15px;
}

.pop-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#cross {
    font-size: 1.2rem;
    cursor: pointer;
    font-size: 2rem;
}

.pop-main {
    margin: 15px 0;
    width: 100%;
    font-family: cursive;
    font-size: 1.5rem;
    text-align: center;
}

#pop-text {
    font-size: 2.5rem;
}

.btn-container {
    padding: 0 10px;
    display: flex;
    justify-content: end;
}

.btn-container button {
    border: 0;
    background-color: var(--primarycolor);
    height: 100%;
    /* width: 100%; */
    min-height: 5vh;
    /* max-width: 15vw; */
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    font-family: monospace;
}

.btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.btn button {
    padding: 15px;
    font-size: 1.5rem;
}

.popup-container > .btn-container{
    margin-bottom: 15px;
}

.popup-container > .btn-container > button{
    font-size: 1rem;
    padding: 10px 15px;
}

@media only screen and (max-width:500px) {
    ul>li{
        font-size: 1.5rem;
    }
    #heading{
        font-size: 1.5rem;
        max-height: 10vh;
    }
    .btn-container button {
        font-size: 1rem;
    }
    .popup-container{
        max-width: 85%;
        
    }
    .pop-bar{
        padding:15px;
    }
    .pop-title{
        font-size: 1.3rem;
    }
    .popup-container{
        height: auto;
    }
    .pop-main{
        font-size: 1rem;
        padding: 0 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 15px 0;
        gap: 15px;
    }
    .pop-main>p{
        margin: 0;
    }
    #cross{
        padding: 0;
        font-size: 1.3rem;
    }
    #pop-text{
        font-size: 1rem;
        font-weight: bold;
    }
    .btn-container{
        margin-bottom: 15px;
    }
    .btn-container>button{
        max-width: 100%;
        padding: 5px 15px;
    }
}